.wrapper{
    display:flex;
    flex-direction: row;
    width: 23%;
    justify-content: space-between;
    /*background-color: #70abaf;*/
    background-color: #32292f;
    border-radius: 5px;
}

.icon{
background-color: rgb(135, 207, 235);
    width:70%;
    border-radius: 10px;
}

.wrapper .ul{

    
color: white;
list-style-type: none;
width:100%;
font-size: 1.2em;
}