.wrapper{
    display:flex;
    flex-direction: row;
    width: 23%;
    justify-content: space-between;
    /*background-color: #70abaf;*/
    background-color: #32292f;
    border-radius: 5px;
}

.icon{
/*background-color: rgb(135, 207, 235);*/
    width:70%;
    border-radius: 10px;
    background: rgb(83,205,242);
background: linear-gradient(0deg, rgba(83,205,242,1) 15%, rgba(182,212,228,1) 69%);
}

.wrapper .ul{

    
color: white;
list-style-type: none;
width:100%;
font-size: 1.2em;
}



@media  only screen 
and (min-device-width: 375px)
and (max-device-width: 812px){

.wrapper{

    width:99%;
    margin: 0 auto;
}


}