@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,800;1,900&display=swap');
body{
  background-color:#f0f7f4;
  overflow-x: hidden;
}
.App {
  font-family: 'Nunito', sans-serif;
 
}

.Search{

  display:flex;
  flex-direction: row;
 /*border:1px green solid;*/
 justify-content: center;
 padding:1em;
 gap:20px;
 background-color: #df450db0;
 color:white;
 width: 55%;
 margin: 0 auto;
 border-radius: 10px;
}


@media  only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px)  {
  

.Search{

padding: .5em;
 width: 95%;
gap: 20px;
}

  
}

